{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='grupos.css') }}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grupos.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='grupos.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <title>Grupos</title>
</head>

<body>

    <section id="seccionDefault" class="seccion activa">
        <h2>GRUPOS</h2>
        <p>Formato correcto para subir un txt de alumnos:</p>
        <p>Matricula del alumno | Nombre/s | Apellidos</p>

        <div class="ejemplo-txt">
            <p>2026001|Juan Carlos|García López</p>
            <p>2026002|Valentina|Morales Torres</p>
            <p>2026003|Luis Fernando|Hernández Ruiz</p>
            <p>2026004|María Fernanda|Cruz Sánchez</p>
            <p>2026005|José Ángel|Ramírez Pérez</p>
            <p>2026006|Ana Sofía|Vargas Castillo</p>
            <p>2026007|Carlos Eduardo|Mendoza Flores</p>
            <p>2026008|Daniela|Ortiz Navarro</p> 
            <p>2026009|Miguel Ángel|Salinas Romero</p> 
            <p>2026010|Paola Andrea|Reyes Montoya</p>
        </div>

        <button id="primer-grupo" onclick="mostrarSeccion('nuevoGrupo')">Crear mi primer grupo</button>

    </section>

    <section id="nuevoGrupo" class="seccion">
            <form class="contenedor-nuevo-grupo">
                <h2>CREAR NUEVO GRUPO</h2>

                <p>Nombre del grupo:</p>
                <input type="text" id="grupo" placeholder="204" required>
                <p>Archivo de alumnos:</p>
                <input type="file" id="archivoAlumnos" accept=".txt">

                <div class="botones">
                    <button class="btn-back" onclick="regresarSeccionActiva()">Regresar</button>
                    <button class="btn-save" onclick="GuardarGrupo()">Guardar grupo</button>
                </div>
            </form>
    </section>   
    
    <section id="mostrarGrupos" class="seccion">
        <h2>GRUPOS</h2>
        <div id="listaGrupos"></div>

        <button class="bnt-agregarGrupo" onclick="mostrarSeccion('nuevoGrupo')">+ Agregar grupo</button>
    </section>


</body>

    <script src="{{ url_for('static', filename='js/grupos.js') }}"></script>

</html>


{% endblock %}